*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    color: #fff;
    background: #ffffff;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgba(75, 218, 8, 0.945);
}

.video-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure it's behind other content */
    object-fit: cover; /* Cover the container */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    z-index: 0;
}